# Ambiente virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Configurações de IDE
.vscode/
.idea/

# Variáveis de ambiente
.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Dados brutos e processados (opcional)
data/raw/*.csv
data/processed/*.csv

# Mantém as pastas no Git
!data/raw/.gitkeep
!data/processed/.gitkeep
